@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Comfortaa:wght@500&family=Kalam&family=Titan+One&display=swap');

:root {
    --padrao: arial, helvetica, verdana, sans-serif;
    --fonte01: 'Bitter', serif;
    --fonte02: 'Comfortaa', cursive;
    --fonte03: 'Titan One', cursive;
    --fonte04: 'Kalam', cursive;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #C6EFF7;
    margin: -10px;
   
}
h1{
    margin:0px;
    text-align: center;
    font-family: var(--fonte04);
    padding:100px 10px;
}
h2{
    font-family: var(--fonte01);
    text-align: center;
    margin: calc(5vh + 10px);
}
h3{
    font-family: var(--fonte02);
}

div {
    background-color: white;
    font-family: var(--fonte02);
    padding: 5px;
    border-radius: 5px;
    margin: 20px auto;
    text-align: justify;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.479);
    max-width: 400px;
    position: relative;
    box-sizing: border-box;
    padding: 8px;
    
}

div#q1 {
    border-radius: 50%;
    background-image: url(imgbonita1.png);
    height: 290px;
    width: 290px;
    background-position: 50% 40%;
    background-size: cover;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    border: solid 1px black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);

}

div#q2 {
    background-image: url(imgbonitaPi.png);
    height: 500px;
    background-position: 50% 100%;
    margin: 0 auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 10000px;
    width: 100vw;
    background-size: cover;
}

div#q3 {
    height: 200px;
    background-image: url(imgzoada.jpg);
    background-position: 60% 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 0px;
    margin: auto auto;
    width: 100vw;
    background-size: cover;
    max-width: 10000px;

    

}
section#pessoa{
    background-color: #137f85 ;
    padding: 10px;
    margin: auto -10px;
}

body {
    background-image: linear-gradient(to bottom, #A6E6F2, #00B4D8, #0059ac);
}
#fim{
    color: #C6EFF7;
    margin: 0;
}
#fim2{
    color: #C6EFF7;
    margin: 418px 0 0;

}
div#q3>p{
    text-align: center;
    margin-left: 5px;
}
footer{
    background-color: #137f85;
    margin: 0px -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:-10px;
}
footer>p{
    margin: 0px;
    font-family: var(--fonte04);
    text-align: center;
    font-size: 1.2em;
}
