@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Comfortaa:wght@500&family=Kalam&family=Titan+One&display=swap');

:root {
    --padrao: arial, helvetica, verdana, sans-serif;
    --fonte01: 'Bitter', serif;
    --fonte02: 'Comfortaa', cursive;
    --fonte03: 'Titan One', cursive;
    --fonte04: 'Kalam', cursive;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #C6EFF7;
    padding: 100px 10px 10px 10px;


}

menu {
    display: flex;
}

ul {
    margin: 12px 0 0 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 10px;
    display: inline;
}

li a {
    padding: 5px 8px;
    margin: 0;
    border: 0px solid rgb(0, 0, 0);
    background: rgb(50, 184, 224);
    text-decoration: none;
    color: #FFF;
    /* cantos arredondados */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

li a:hover {
    background: rgb(32, 139, 238);
    color: #000;
    border-color: #000;
}

h1 {
    margin: 0px;
    text-align: center;
    font-family: var(--fonte04);

}

h2 {
    font-family: var(--fonte01);
    text-align: center;
    margin: calc(5vh + 10px);
}

h3 {
    margin-left: 3vw;
    font-family: var(--fonte02);
}

div.log {
    margin: 0 auto 0 auto;
    border-radius: 0%;


}

div.pi {
    color: aliceblue;
    width: 100%;
    max-height: 600px;
    min-height: 300px;
    height: 60%;
    background-size: cover;
    max-width: 100000000px;
    border-radius: 0;
    margin: 0%;
    background-position: 50%;
}

div {
    background-color: white;
    font-family: var(--fonte02);
    padding: 5px;
    border-radius: 5px;
    margin: 20px auto;
    text-align: justify;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.479);
    max-width: 600px;
    position: relative;
    box-sizing: border-box;
    padding: 8px;

}

div#q1 {
    border-radius: 50%;
    background-image: url(imgbonita1.png);
    background-size: cover;
    background-position: 50% 40%;
    height: 290px;
    width: 290px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    border: solid 1px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);

}

div#q2 {
    background-image: url(imgbonitaPi.png);
    height: 500px;
    background-position: 50% 100%;
    margin: 0 auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 10000px;
    width: 100%;
    background-color: #0059ac;
}

div#q3 {
    height: 300px;
    background-image: url(garotamb.png);
    background-position: 60% 30%;
    background-attachment: local;
    background-repeat: no-repeat;
    border-radius: 0px;
    margin: auto auto;
    width: 100%;
    background-size: cover;
    max-width: 10000px;
    background-color: #00B4D8;
    color: #00B4D8;



}

div#q3>h2 {
    margin: 0%;
}

div#q4 {
    background-image: url(/fotos/jennifervitamina.png);
    height: 300px;
    width: 100%;
    max-width: 1000000px;
    border-radius: 0%;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

div#q5 {
    background-image: url(/fotos/dedo1.png);
    width: 100%;
    max-width: 100000px;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    height: 300px;
    background-position: 50% 40%;
}

div#q6 {
    background-image: url(/fotos/dedo2.png);
}

div#q7 {
    background-image: url(/fotos/bjo.png);
    background-position: 70%;
}

div#q8 {
    background-image: url(/fotos/dedo3.png);
}

div#q9 {
    height: 400px;
    background: fixed no-repeat url(/fotos/Obrigado.png) 40% 120%;

}

div#div1 {
    margin-bottom: 0%;
    border-radius: 10px 10px 0px 0px;
}

div#div2 {
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}

section#pessoa {
    background-color: #137f85;
    margin: auto;
}



body {
    background-image: linear-gradient(to bottom, #A6E6F2, #00B4D8, #0059ac);

}

.fim {
    color: #C6EFF7;
    margin: 0;
}

.fim2 {
    color: #C6EFF7;
    margin: 418px 0 0;

}

#fim2 {
    margin-top: 333px;
    color: #C6EFF7;
}

div#q3>p {
    text-align: center;
    margin-left: 5px;
}

footer {

    background-color: #137f85;
    box-sizing: content-box;
    padding: 10px;
}

footer>p {
    margin: 0px;
    font-family: var(--fonte04);
    text-align: center;
    font-size: 1.2em;
}

.heart {
    margin: 50px;
    background-color: red;
    height: 50px;
    transform: rotate(-45deg);
    width: 50px;
    position: absolute;
    padding: 0%;
    top: 285%;
    left: -20px;
}

.heart:before,
.heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
}

.heart:before {
    top: -25px;
}

.heart:after {
    left: 25px;
}