@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Comfortaa:wght@500&family=Kalam&family=Titan+One&display=swap');

:root {
    --padrao: arial, helvetica, verdana, sans-serif;
    --fonte01: 'Bitter', serif;
    --fonte02: 'Comfortaa', cursive;
    --fonte03: 'Titan One', cursive;
    --fonte04: 'Kalam', cursive;
}

* {
    color: #252A34;
}

body {
    background-image: linear-gradient(to bottom, #A6E6F2, #00B4D8, #0059ac);

}

header {
    background-color: #C6EFF7;
    padding: 100px 30px 20px 30px;
    text-align: center;
    margin: -10px;


}

main {
    margin-top: 30px;


}

div {
    max-width: 400px;
    min-width: 300px;
    max-height: 500px;
    min-height: 200px margin-botton: 20px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

section#pessoa {
    background-color: #2155CD;
    padding: 10px;

    margin: 10px -10%;
}

section#quimica {
    background-color: #2155CD;
    padding: 10px;

    margin: 10px -10%;
}
div.kisame{
    height: 300px;

}
div#q2{
    background-image: url(imgzoada.jpg);
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-position: center-top;
    background-position-x: -10vw ;
}

p {
    font-family: var(--fonte01);
    font-size: large;
    text-align: justify;

}

h1 {
    font-family: var(--fonte04);
    font-size: 2.3em;
}

h2, h3, h4 {
    font-family: var(--fonte02);
    font-size: 1.4em;
}

h2 {
    margin: auto;
    text-align: center;
    margin: 20px 0px
}

h3 {

    padding: 30px;
    text-align: center;

}

footer {
    background-color: #033f64;
    color: black;
    margin: 10px -20px -20px -20px;

}

footer>p {
    text-align: center;
    padding: 10px 0px;
    font-family: var(--fonte04);

}